<!DOCTYPE html>
<html>
  <head>
    <title>User Home Page</title>
  </head>
  <body>
    <h1>User Home Page</h1>
   <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <div class="container mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="">Logo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Product Catagory</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/product/biscuit">Biscuits</a></li>
        <li><a class="dropdown-item" href="/produt/colddrink">Cold Drink</a></li>
        <li><a class="dropdown-item" href="/product/snack">Snacks</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customers/customerservice">Customer Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/help">Help</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/user/setting">Setting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/aboutus">AboutUs</a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary">Sign In</button>
      <button type="button" class="btn btn-primary">Log In</button>
    </li>
  </ul>
</div>
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>
  <div class="row">
    <div class="col p-3 text-black">
      <image src ="/images/Parleg.jpg" width=100 height=100/>ParleG</div>
    <div class="col p-3 text-black">
      <image src ="/images/goodday.jpg" width=100 height=100/>GoodDay</div>
    <div class="col p-3 text-black">
      <image src ="/images/hideandseek.jpg" width=100 height=100/>HideAndSeek</div>
  </div>
  <div class="row">
    <div class="col p-3 text-black">
      <image src ="/images/2020.jpg" width=100 height=100/>2020</div>
    <div class="col p-3 text-black">
      <image src ="/images/britania.jpg" width=100 height=100/>Britania</div>
    <div class="col p-3 text-black">
      <image src ="/images/marigold.jpg" width=100 height=100/>Marigold</div>
  </div>
</div>
  </body>
</html>
