<getproduct [productId]="productId" (sendProduct)="reciveProduct($event)" hidden></getproduct>
<div *ngIf="product && product.productId!=0 ">
<div class="height d-flex justify-content-left  align-items-center mt-2 mb-2">
    
    <div class="card p-4 m-4 ">
        
        <div class="d-flex  justify-content-left  align-items-center  ">
            <div >
                <img [src]=" path+product.imageUrl"  width="250" >
            </div>
            <div class="m-2 p-4">
                <h4 class="text-uppercase"><b>{{ product.productTitle }}</b></h4>
                <div class="mt-2">
                    <h5 class="text-uppercase mb-2">{{ product.description }}</h5>
                    <p><label ><b>StockAvailable :</b></label>{{ product.stockAvailable }}</p>
                    <p><label ><b>UnitPrice :</b></label>{{ product.unitPrice}}</p>
                  <p><label ><b>ProducId :</b></label>{{ product.productId }}</p>
                </div>          
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
            <p><label ><b>CategoryId :</b></label>{{ product.categoryId }}</p>
            <p><label ><b>SupplierId :</b></label>{{ product.supplierId }}</p>
            </div>
        <div class="d-flex justify-content-between align-items-center  mb-2 ">
         <button class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button>  
         <button class="btn " style="background-color: #55c2da;" (click)="onSelectUpdate(product.productId)">Update </button>            
        </div>  
    </div>  
</div>

<div *ngIf=" product && product.productId==0 ">
  <p>Product not Found</p>
  </div>
