 <h1>Product Catagory</h1>

<hr>
<form>
<input type="search" class="searchterm" placeholder="Search">

  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">SelectCategory</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Laptops</a></li>
        <li><a class="dropdown-item" href="#">Fridge</a></li>
         <li><a class="dropdown-item" href="#">TV</a></li>
          <li><a class="dropdown-item" href="#">Mobiles</a></li>
      </ul>



@* <button type="button" class="btn btn-info">SelectCategory</button>
<div class="btn-group">   
 <button type="button" class="btn btn-primary">Laptops</button> 
 <button type="button" class="btn btn-primary">Fridge</button> 
 <button type="button" class="btn btn-primary">TV</button> 
 <button type="button" class="btn btn-primary">Mobiles</button>
 </div> *@
</form>

<hr>
<div class="row">
    <div class="col-sm-6 bg-link text-link"><img src="product.jpg"alt="product.com" style="width:1200 ;height:1000:"><p>product Details</p>

</div>
    <div class="col-sm-6 bg-link text-link"><img src="product.jpg"alt="product.com" style="width:1200 ;height:1000:"><p>product Details</p></div>
  </div>
  <br>

<div class="row">
    <div class="col-sm-6 bg-link text-link"><img src="C:\Users\shree\Desktop\tap\WhatsApp Image .jpg"alt="product.com" style="width:1200 ;height:1000:"><p>product Details</p>

</div>
    <div class="col-sm-6 bg-link text-link"><img src="product.jpg"alt="product.com" style="width:1200 ;height:1000:"><p>product Details</p></div>
  </div>
  <br>

<h6>list of all electronics product <span class="badge bg-secondary"></span></h6>

  <button type="button" class="btn btn-warning">Back</button>
  <button type="button" class="btn btn-secondary">ProductCategory</button>

