
<h2>Update Shipper</h2>

<getshipper [shipperId]="shipperId" (sendShipper)="receiveShipper($event)" hidden></getshipper>
<div *ngIf="shipper && shipper.shipperId !=0">
    <div *ngIf="shipper" >
        <label ><b>CompanyName :</b></label>  <input type="text" [(ngModel)]="shipper.companyName">  <br>
        <label ><b>ContactNumber :</b></label>  <input type="text" [(ngModel)]="shipper.contactNumber"> <br>
        <label ><b>Email:</b></label>  <input type="text" [(ngModel)]="shipper.email">   <br>
        <label ><b>AccountNumber :</b></label>  <input type="text" [(ngModel)]="shipper.accountNumber">  <br>
    </div>
  <button (click)="updateShipper()"(click)="status = false">Update</button>
</div>
