

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px ">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Product</h3>
            <form>
              <div class="row">
                <div class="col-md-8 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="productTitle"
                      name="productTitle"
                      class="form-control form-control-lg"
                      [(ngModel)]="product.productTitle"
                    />
                    <label class="form-label" for="productTitle">Product Title</label>
                  </div>
                </div>
                </div>
               

                <div class="row">
                    <div class="col-md-8 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="productDescription"
                          name="productDescription"
                          class="form-control form-control-lg"
                          [(ngModel)]="product.description"
                        />
                        <label class="form-label" for="productDescription">Product Description </label>
                      </div>
                    </div>
                    </div>
                    


              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="number"
                      id="unitPrice"
                      name="unitPrice"
                      class="form-control form-control-lg"
                      [(ngModel)]="product.unitPrice"
                      />
                    <label class="form-label" for="unitPrice">UnitPrice</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                    type="number"
                    id="stockAvailable"
                    name="stockAvailable"
                    class="form-control form-control-lg"
                    [(ngModel)]="product.stockAvailable"
                    />
                  <label class="form-label" for="stockAvailable">Stock Available</label
                  >
                  </div>
                </div>
              </div>


              <div class="row">
                
                <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline ">
                    
                      <select   class="form-control form-control-lg form-select" name="categoryId" 
                      [(ngModel)]="product.categoryId" required>
                        <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                          {{category.categoryTitle | titlecase}}</option>
                      </select>
                      <label class="form-label "> Category</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline ">
                      <select   class="form-control form-control-lg form-select" name="supplierId"
                      [(ngModel)]="product.supplierId" required >
                      <option *ngFor="let supplier of suppliers " [ngValue]="supplier.supplierId">
                        {{supplier.companyName | titlecase}}</option>
                      </select>
                      <label class="form-label "> supplier</label>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="imageUrl"
                          name="imageUrl"
                          class="form-control form-control-lg"
                          [(ngModel)]="product.imageUrl"
                        />
                        <label class="form-label" for="imageUrl">Product Image</label>
                      </div>
                    </div>
                    </div>
               
            <div class="d-grid">
              <button class="btn btn-success fw-bold" (click)="insertProduct()" (click)="status = false" type="submit">Add </button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

 
    

