@model ECommerceApp.Models.Shipper

<div class="container mt-3">
  <h2><p class="text-center">Cancel List</p></h2>
  <p> Cancel details</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Reason</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><p class="text-warning">Abhijit Patil </p></td>
        <td><p class="text-warning">Samsung Smart Tv</p></td>
        <td><p class="text-warning">Buggy product </p></td>
      <td><p class="text-warning">45788 </p></td>
      <tr>
       <td><p class="text-warning">Aman Mittal </p></td>
        <td><p class="text-warning">Boat earbuds </p></td>
        <td><p class="text-warning">Poor product</p></td>
      <td><p class="text-warning">4586 </p></td>
      <tr>  
       <tr>
       <td><p class="text-warning">Ajay Sharma </p></td>
        <td><p class="text-warning">RedmiSmart Tv</p></td>
        <td><p class="text-warning"> Buggy Product</p></td>
      <td><p class="text-warning">56999 </p></td>
      <tr>
       <tr>
       <td><p class="text-warning">Ram Tupe </p></td>
        <td><p class="text-warning">Lenovo Laptop L4525</p></td>
        <td><p class="text-warning">Law Quality product </p></td>
      <td><p class="text-warning">49999 </p></td>
      <tr>
     
    </tbody>
  </table>
  <button type="Back" class="btn btn-danger">Back</button>

  <table 
table-striped >
  <tr> 
    <td>prointern@gmail.com</td>
  </tr>
</table>


