@model ECommerceApp.Models.Shipper

<div class="container mt-3">
  <h2><p class="text-center">"Delivery  Page"</p></h2>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Customer Name</th>
        <th>Contact Number </th>
          <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      
         <td><p class="text-warning">Samsung Smart Tv</p></td>
         <td><p class="text-warning">Abhijit  Bhosale </p></td>
         <td><p class="text-warning">Abhijit  Bhosale </p></td>
         <td><p class="text-warning">Delivered </p></td>
      <tr>
        
       
         <td><p class="text-warning">Oppo Smart Phone</p></td>
         <td><p class="text-warning">Ganesh Shinde </p></td>
         <td><p class="text-warning">9865242658 </p></td>
         <td><p class="text-warning">Delivered </p></td>
      </tr>
      <tr>
        
       
         <td><p class="text-warning">Erolite Celling Fan</p></td>
         <td><p class="text-warning">Ramesh Supe </p></td>
         <td><p class="text-warning">9865254875 </p></td>
         <td><p class="text-warning">Delivered </p></td>
      </tr>
     
         <td><p class="text-warning">Sony Smart Tv</p></td>
         <td><p class="text-warning">Amit  Bhosale </p></td>
         <td><p class="text-warning">986526584 </p></td>
         <td><p class="text-warning">Delivered </p></td>
      <tr>
        
         <td><p class="text-warning">Smart Bulbs</p></td>
         <td><p class="text-warning">Abhi  Rale </p></td>
         <td><p class="text-warning">89844945489 </p></td>
         <td><p class="text-warning">Delivered </p></td>
      </tr>
       <tr>
         <td><p class="text-warning">Coffe Maker</p></td>
         <td><p class="text-warning">Dipika Patil </p></td>
         <td><p class="text-warning"> 874484965484</p></td>
         <td><p class="text-warning">Delivered </p></td>
      </tr>
      
    </tbody>
  </table>
  <button type="Back" class="btn btn-danger">Back</button>

  <table 
table-striped >
  <tr> 
    <td>Prointern@gmail.com</td>
  </tr>
</table>

















































<!--

<link rel="stylesheet" href="/css/table.css"/>
@{
    ViewData["Title"] = "Delivery Details Page";
}

<div>
    <h3>Delivery List</h3>

    
        <table>
         <tr>
            <th>Product</th>
            <td></td>
         </tr>
          <tr>
              <th>Customer Name</th>
              <td></td>
          </tr>

          <tr>
              <th>Customer Address</th>
              <td></td>
         </tr>
         <tr>
              <th>Contact Number</th>
              <td></td>
         </tr>
         <tr>
              <th> Status</th>
              <td></td>
        </tr>
    </table>
    <button id="Back">Back</button>

</div>
-->