
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shipper Details Page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  </style>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#section1">Section 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">Section 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">Section 3</a>
      </li>
    </ul>
  </div>
</nav>

<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
  <h1>Shipper Registration Section</h1>
  
   <li class="nav-item">
    <a class="nav-link"href="/Shipper/Index">Insert And Update Shipper </a>
  </li>

</div>

<div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
  <h1>Shipper Details Section</h1>

<li class="nav-item">
    <a class="nav-link" href="/Shipper/CancelList">Check cancel list of products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/DeliveryList">Check total delivered products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/ReturnList">Check the Return  list of products</a>
  </li>

</div>

<div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
  <h1>Section 3</h1>

  <li class="nav-item">
    <a class="nav-link" href="/Shipper/Search"> Search Shipper </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/Shipper/ShippersList">Check List Of Shippers</a>
  </li>
 <li class="nav-item">
    <a class="nav-link"  href="/Shipper/Status">Check Status </a>
  </li>
 </div>

</body>
</html>

















<!--
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Shippers Details</h1>
</div>


<ul style="list-style-type:disc" class="nav flex-column">
  
  <li class="nav-item">
    <a class="nav-link"href="/Shipper/Index">Insert And Update Shipper </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/CancelList">Check cancel list of products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/DeliveryList">Check total delivered products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/ReturnList">Check the Return  list of products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/Search"> Search Shipper By Shipper Id   </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/Shipper/ShippersList">Check List Of Shippers</a>
  </li>
 <li class="nav-item">
    <a class="nav-link"  href="/Shipper/Status">Check the Status of Products</a>
  </li>


</ul>



-->

