<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Shippers Details</h1>
</div>


<ul style="list-style-type:disc" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link"href="/Shipper/Index">Insert And Update Shipper </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/CancelList">Check cancel list of products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/DeliveryList">Check total delivered products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/ReturnList">Check the Return  list of products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Shipper/Search"> Search Shipper By Shipper Id   </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/Shipper/Status">Check the Status of Products</a>
  </li>

</ul>