@model ECommerceApp.Models.Shipper

<div class="container mt-3">
  <h2><p class="text-center">Status</p></h2>
  <p>Updating status for existing delivery</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Delivery ID</th>
        <th>Product</th>
        <th>Customer Name</th>
        <th>Update Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><p class="text-warning">Sm454585 </p></td>
        <td><p class="text-warning">Samsung Smart Tv</p></td>
        <td><p class="text-warning">Abhijit  Bhosale </p></td>
      <td><p class="text-warning">Delivered </p></td>
      <tr>
        
       <td>S46584</td>
        <td>Sony SmartTv</td>
        <td>Shahu Jadhav</td>
        <td>Returned</td>
      </tr>
      <tr>
        
       <td>LG4515465</td>
        <td>LG SmartTv</td>
        <td>Shahu Jadhav</td>
        <td>Cancelled</td>
      </tr>
      <tr>
       <td><p class="text-warning">S454585 </p></td>
        <td><p class="text-warning">Sony SmartTv</p></td>
        <td><p class="text-warning">Ramesh Kadam</p></td>
      <td><p class="text-warning">Delivered </p></td>
      <tr>
      </tr>
       <tr>
        
       <td>Sm414551</td>
        <td>SamSung SmartTv</td>
        <td>Vaibhav Patil</td>
        <td>Cancelled</td>
      </tr>
      
    </tbody>
  </table>
  <button type="Back" class="btn btn-danger">Back</button>

  <table 
table-striped >
  <tr> 
    <td>amazone@gmail.com</td>
  </tr>
</table>