<!DOCTYPE html>
<html>
    <head>
        <tittle></tittle>
        <style>
                h1{text-align: center; }
        </style>
    </head>
    <body>
        <h1>About Us</h1>
        <div>
        <p1>An e-commerce website is one that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.</p1>
        <p1> Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.</p1>  
        <p1>We order food, clothes, and furniture; we register for classes and other online services; we download books, music, and movies; and so much more. E-commerce has taken root and is here to stay.</p1>
        </div>
    </body>
</html>