 
<p>update</p>

<app-getorder [orderId] = orderId (sendOrder)="receiveOrder($event)"></app-getorder>
<div  *ngIf="order && order.orderId!=0">
<!-- <div *ngIf="order"> -->
<table>
    <tr>
        <td><label>orderDate</label></td>
        <td><input type="text" name="orderDate" #orderDate="ngModel" [(ngModel)]="order.orderDate"></td>
    </tr>
    <tr>
        <td><label>shippedDate</label></td>
        <td><input type="text" name="shippedDate" #shippedDate="ngModel" [(ngModel)]="order.shippedDate"></td>
    </tr>  
    <tr>
        <td><label>customerId</label></td>
        <td><input type="number" name="customerId" #customerId="ngModel" [(ngModel)]="order.customerId"></td>
    </tr>
    <tr>
        <td><label>Total</label></td>
        <td><input type="number" name="total" #total="ngModel" [(ngModel)]="order.total"></td>
    </tr>
    <tr>
        <td><label>Status</label></td>
        <td><input type="text"  name="orderStatus" #orderStatus="ngModel" [(ngModel)]="order.status"></td> 
    </tr>
    <tr>
        <button (click)="update()" (click)="status=false">Update</button>
    </tr>
</table>   
</div>
<!-- </div>  -->


<div *ngIf="order && order.orderId!==0">
    <p>orderId found</p>
</div>

<div *ngIf="order && order.orderId==0">
    <p>orderId not found</p>
</div>

<div *ngIf="status">
    <p>order updated successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating</p>
</div>  