<h2>Update page</h2>

<app-getsupplier (sendSupplier)="receiveSupplier($event)"></app-getsupplier>
<div *ngIf="supplier && supplier.supplierId!=0 ">
    <div *ngIf="supplier" >
        <label ><b>CompanyName :</b></label>  <input type="text" [(ngModel)]="supplier.companyName">  <br>
        <label ><b>SupplierName :</b></label>  <input type="text" [(ngModel)]="supplier.supplierName"> <br>
        <label ><b>ContactNumber :</b></label>  <input type="text" [(ngModel)]="supplier.contactNumber"> <br>
        <label ><b>Email:</b></label>  <input type="text" [(ngModel)]="supplier.email">   <br>
        <label ><b>Address :</b></label>  <input type="text" [(ngModel)]="supplier.address"> <br>
        <label ><b>City :</b></label>  <input type="text" [(ngModel)]="supplier.city">  <br>
        <label ><b>State :</b></label>  <input type="text" [(ngModel)]="supplier.state">  <br>
        <label ><b>AccountNumber :</b></label>  <input type="text" [(ngModel)]="supplier.accountNumber">  <br>
    </div>
  <button (click)="updateSupplier()" (click)="status = false">Update</button>
</div>

<div *ngIf=" supplier && supplier.supplierId==0 ">
    <p>Supplier not Found</p>
</div>

<div *ngIf="status">
  <p>record updated sucessfully</p>
</div>

<div *ngIf="status == false">
  <p>Error While updating data</p>
</div>
