<h2>Update page</h2>

<app-getsupplier  [supplierId]="supplierId" (sendSupplier)="receiveSupplier($event)" hidden></app-getsupplier>
<div *ngIf="supplier && supplier.supplierId!=0 ">
    <div class="container">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Company Name</th>
              <td><input type="text" [(ngModel)]="supplier.companyName" class="form-control"></td>
            </tr>
            <tr>
              <th>Supplier Name</th>
              <td><input type="text" [(ngModel)]="supplier.supplierName" class="form-control"></td>
            </tr>
            <tr>
              <th>Contact Number</th>
              <td><input type="text" [(ngModel)]="supplier.contactNumber" class="form-control"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="text" [(ngModel)]="supplier.email" class="form-control"></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><input type="text" [(ngModel)]="supplier.address" class="form-control"></td>
            </tr>
            <tr>
              <th>City</th>
              <td><input type="text" [(ngModel)]="supplier.city" class="form-control"></td>
            </tr>
            <tr>
              <th>State</th>
              <td><input type="text" [(ngModel)]="supplier.state" class="form-control"></td>
            </tr>
            <tr>
              <th>Account Number</th>
              <td><input type="text" [(ngModel)]="supplier.accountNumber" class="form-control"></td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2">
          <button class="btn btn-success" (click)="updateSupplier()">Update</button>
        </div>
      </div>
      
    </div>

