<h2>Hoverable Dropdown</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
  <button class="dropbtn">Bookings</button>
  <div class="dropdown-content">
    <a href="#">Pune</a>
    <a href="#">Mumbai</a>
    <a href="#">Chennai</a>
  </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Cacellation</button>
    <div class="dropdown-content">
        <a *ngFor="let city of cities" href="#">{{city}}</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Confirmed</button>
    <div class="dropdown-content">
        <a href="#">Pune</a>
    <a href="#">Mumbai</a>
    <a href="#">Chennai</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Waiting</button>
    <div class="dropdown-content">
        <a href="#">Pune</a>
        <a href="#">Mumbai</a>
        <a href="#">Chennai</a>
    </div>
  </div>
  

