<!-- Membership Module : <membership-routing></membership-routing> -->
<!-- <list></list> -->
<!-- <insert></insert> -->
<!-- <app-getbyid></app-getbyid> -->
<!-- <app-update></app-update>  -->


<label><b>Employee Details :</b></label><employee-routing>   
</employee-routing><br/>

 <label><b>Membership Module :</b> </label><membership-routing></membership-routing><br/>
 <br/>
 <br/>
 <label><b>Product Module :</b> </label> <product-routing></product-routing><br/>
 <br/>
 <br/>
 <label><b>Suppliers Module :</b> </label><app-routing></app-routing><br/>
 <br/>
 <br/>

 <label><b>Shipper Details :</b></label><shipperrouting> 
      
    
 </shipperrouting><br/>
<!-- 
 <app-search-account></app-search-account>

<hr>
<app-insert></app-insert> -->
<hr>

<!-- <app-update></app-update>    -->



