p {
    color:blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
  }

h1 {
  color:purple;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}


  #para1 {
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
  }