

<label><b>Employee Details :</b></label><employee-routing></employee-routing><br/>

 <!-- <label><b>Membership Module :</b> </label><membership-routing></membership-routing><br/>
 <br/>
 <br/>
 <label><b>Product Module :</b> </label> <product-routing></product-routing><br/>
 <br/>
 <br/>
 <label><b>Suppliers Module :</b> </label><app-routing></app-routing><br/>
 <label><b>Account Module :</b></label><app-account-routing></app-account-routing><br/>
 <label><b>Customer Module :</b></label><customer-route></customer-route><br/>
 <label><b>Transaction Module :</b></label><transactionrouting></transactionrouting> 
<label><b>Shipper Details :</b></label><shipperrouting> 
<payment-routing></payment-routing> 

 <label><b>Shipper Details :</b></label><shipperrouting></shipperrouting><br/>

 

 -->
