@model ECommerceApp.Models.Supplier



<table >
    <tr>
        <th><label>ProductImage</label></th>
        <td><input type="text" name="imageurl" id="txtimageurl"></td>
    </tr>

    <tr>
        <th><label>ProductName</label></th>
        <td><input type="text" name="title" id="txttitle"></td>
    </tr>

    <tr>
        <th><label>Description</label></th>
        <td><input type="text" name="description" id="txtdescription"></td>
    </tr>

    <tr>
        <th><label>UnitPrice</label></th>
        <td><input type="text" name="unitprice" id="txtunitprice"></td>
    </tr>

    <tr>
        <th><label>Quantity</label></th>
        <td><input type="text" name="quantity" id="txtquantity"></td>
    </tr>


</table>
 <button ><input type="submit" value="Add"></button>