@model ECommerceApp.Models.Supplier
  <table class="table table-dark">
    <thead>
      <tr>
        <th>ProductId</th>
        <th>ProductTitle</th>
        <th>Description</th>
        <th>UnitPrice</th>
        <th>Quantity</th>
        <th>Reason</th>
              </tr>
    </thead>
    <tbody>
      <tr>
        <td>232</td>
        <td>Lenovo i23</td>
        <td>best laptop</td>
        <td>66666</td>
        <td>40</td>
        <td>delivery reasons</td>
      </tr>
       <tr>
        <td>345</td>
        <td></td>
        <td>Crunchy biscuit</td>
        <td>15</td>
        <td>1000</td>
        <td>delivery reasons</td>
      </tr>
       <tr>
        <td>123</td>
        <td>Mari Gold</td>
        <td>tasty biscuit</td>
        <td>20</td>
        <td>20000</td>
        <td>delivery reasons</td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center;">
  <button  type="button" class="btn btn-danger"><a href="/suppliers/home" style="color:inherit ; text-decoration: none;">Back</a></button>
</div>