<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Expand Your Business with Ecommerce</h1>
</div>


<ul style="list-style-type:disc" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link"href="/Suppliers/AddProduct">Add new product to list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Suppliers/UpdateProduct">Update your existing product </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Suppliers/AvailableQuantity">Check total available quantity from the list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Suppliers/CancelledProducts">Check the cancelled products from the deliveries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Suppliers/ReturnedProducts">Check returned products </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/Suppliers/TotalSold">Check total sold out products the list</a>
  </li>
</ul>