@model ECommerceApp.Models.Supplier
@{ViewData["title"]="Register Page";
}

<div>
    <h3>Register</h3>
        <table>
            
        <tr>
            <th><label>CompanyName</label> </th>
            <td><input type="text" name="company_name" id="txtcompanyname"/></td>
        </tr>
         <tr>
            <th><label>SupplierName</label> </th>
            <td><input type="text" name="supplier_name" id="txtsuppliername"/></td>
        </tr>
         <tr>
            <th><label>ContactNumber</label> </th>
            <td><input type="text" name="contact_number" id="txtcontactnumber"/></td>
        </tr>

         <tr>
            <th><label>Email</label> </th>
            <td><input type="email" name="email" id="txtemail"/></td>
        </tr>

          <tr>
            <th><label>Address</label></th>
            <td><input type="text" name="address" id="txtaddress"/> </td>
        </tr>
        
          <tr>
            <th> <label>City</label> </th>
            <td><input type="text" name="city" id="txtcity"/> </td>
        </tr>

         <tr>
            <th> <label>State</label> </th>
            <td><input type="text" name="state" id="txtstate"/> </td>
        </tr>

         <tr>
            <th><label>Account number</label> </th>
            <td><input type="text" name="account_number" id="txtaccountnumber"/></td>
        </tr>

    </table>
    <button  id="registerbtn">Register</button>

</div>
<hr/>
<hr/>
<div>
    <h3>Update</h3>
        <table>
             <tr>
            <th><label>SupplierId</label> </th>
            <td><input type="text" name="updatesupplier_id" id="updatetxtsupplierid"/></td>
        </tr>
        <tr>
            <th><label>CompanyName</label> </th>
            <td><input type="text" name="updatecompany_name" id="updatetxtcompanyname"/></td>
        </tr>
         <tr>
            <th><label>SupplierName</label> </th>
            <td><input type="text" name="updatesupplier_name" id="updatetxtsuppliername"/></td>
        </tr>
         <tr>
            <th><label>ContactNumber</label> </th>
            <td><input type="text" name="updatecontact_number" id="updatetxtcontactnumber"/></td>
        </tr>

         <tr>
            <th><label>Email</label> </th>
            <td><input type="email" name="updateemail" id="updatetxtemail"/></td>
        </tr>

          <tr>
            <th><label>Address</label></th>
            <td><input type="text" name="updateaddress" id="updatetxtaddress"/> </td>
        </tr>
        
          <tr>
            <th> <label>City</label> </th>
            <td><input type="text" name="updatecity" id="updatetxtcity"/> </td>
        </tr>

         <tr>
            <th> <label>State</label> </th>
            <td><input type="text" name="updatestate" id="updatetxtstate"/> </td>
        </tr>

         <tr>
            <th><label>Account number</label> </th>
            <td><input type="text" name="updateaccount_number" id="updatetxtaccountnumber"/></td>
        </tr>

    </table>
    <button  id="onupdatebtn">Update</button>

</div>



 <script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">  
     $(document).ready(function(){
        console.log("document is initialized");
        $('#registerbtn').click(onRegister);
        $('#onupdatebtn').click(onUpdate);

    }); 
    
     function onRegister() {  
        //get data from text boxex
        console.log("okk..");
        var strCompanyName=($('#txtcompanyname').val());
        var strSupplierName=($('#txtsuppliername').val());
        var strContactNumber=($('#txtcontactnumber').val());
        var strEmail=($('#txtemail').val());
        var strAddress=($('#txtaddress').val());
         var strCity=($('#txtcity').val());
         var strState=($('#txtstate').val());
         var strAccountNumber=($('#txtaccountnumber').val());

        //create JSON object to store textboxes contents into json

        var supplierToRegister = {
                    "companyName": strCompanyName ,
                    "supplierName": strSupplierName ,
                    "contactNumber":strContactNumber ,
                    "email":strEmail ,
                    "address":strAddress ,
                    "city":strCity ,
                    "state":strState ,
                    "accountNumber":strAccountNumber
                    
       }

       

       //Invoke REST API programmatically using $.ajax  JQuery function
       var restAPIUrl='/suppliers/insertsupplier';

       //IT will invoke Remote REST API 

        $.ajax({  
            url:restAPIUrl ,                                // link of REST API url
            type: "POST",                                   // type of HTTP request
            contentType: "application/json; charset=utf-8",//  What is the type of content of REST body
            data: JSON.stringify(supplierToRegister),              // data to be sent through request body

                                                           //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  

                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  

                                                     //callback function to be called on success of REST API call

            success: function(data) {  
                console.log("Registerd..");  
                return false;  
            }  
        });  
        return false;  

     }


       function onUpdate() {  
        var strSupplierId=($('#updatetxtsupplierid').val());
        var strCompanyName=($('#updatetxtcompanyname').val());
        var strSupplierName=($('#updatetxtsuppliername').val());
        var strContactNumber=($('#updatetxtcontactnumber').val());
        var strEmail=($('#updatetxtemail').val());
        var strAddress=($('#updatetxtaddress').val());
         var strCity=($('#updatetxtcity').val());
         var strState=($('#updatetxtstate').val());
         var strAccountNumber=($('#updatetxtaccountnumber').val());

        var data = {
                     "supplierId":strSupplierId,
                    "companyName": strCompanyName ,
                    "supplierName": strSupplierName ,
                    "contactNumber":strContactNumber ,
                    "email":strEmail ,
                    "address":strAddress ,
                    "city":strCity ,
                    "state":strState ,
                    "accountNumber":strAccountNumber
                     
       }


        $.ajax({  
            url: "/suppliers/updatesupplier",                               
            type: "PUT",                                  
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),             
            
                                                           
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },    

            success: function(response) {
                
                console.log(response);
                console.log("data updated sucessfully");  
                return false;  
            }  
        });  
        return false;  
    }

</script>
  
