@model ECommerceApp.Models.Supplier
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ProductId</th>
        <th>ProductTitle</th>
        <th>Description</th>
        <th>UnitPrice</th>
        <th>Quantity</th>
        <th>TotalAmount</th>
              </tr>
    </thead>
    <tbody>
      <tr>
        <td>12</td>
        <td>ParleG</td>
        <td>Best biscuit</td>
        <td>10</td>
        <td>1000</td>
        <td>100000</td>
        
      </tr>
       <tr>
        <td>14</td>
        <td>Krack Jack</td>
        <td>Crunchy biscuit</td>
        <td>15</td>
        <td>100</td>
        <td>10000</td>
      </tr>
       <tr>
        <td>123</td>
        <td>Mari Gold</td>
        <td>tasty biscuit</td>
        <td>20</td>
        <td>2000</td>
        <td>200000</td>
      </tr>
             <tr>
        <td>1245</td>
        <td>Sundaram A4</td>
        <td>best notebooks</td>
        <td>40</td>
        <td>2000</td>
        <td>8888000</td>
      </tr>
             <tr>
        <td>156</td>
        <td>hp</td>
        <td>laptops</td>
        <td>50</td>
        <td>50000</td>
        <td>5000000</td>
      </tr>
             <tr>
        <td>145</td>
        <td>Vivo</td>
        <td>best phones</td>
        <td>20000</td>
        <td>2000</td>
        <td>4000000</td>
          </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center;">
  <button  type="button" class="btn btn-danger"><a href="/suppliers/home "style="color:inherit ; text-decoration: none;">Back</a></button>
</div>