@model ECommerceApp.Models.Supplier



<table  border="2px">
    <tr>
        <th>ProductId</th>
         <th>ProductName</th>
         <th>Description</th>
           <th>SoldQuantity</th>
    </tr>
      <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
</table>
 <button ><input type="submit" value="back"></button>