@model ECommerceApp.Models.Supplier


<table border="2px">
    <tr >
        <th>SelectProduct</th>
        <td ><input type="text" placeholder="Search.."></td>
    </tr>
  </table>

  <table border="2px">

    <tr>
        <th>ProductName:</th>
        <td><input type="text"</td>
    </tr>

    <tr>
        <th>Description:</th>
        <td>Best biscuit</td>
    </tr>

    <tr>
        <th>UnitPrice:</th>
        <td>10</td>
    </tr>

    <tr>
        <th>Quantity:</th>
        <td>1000</td>
    </tr>

    </tr>

</table>
 <button ><input type="submit" value="submit"></button>