
<h6>Address details:<h6>
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Name:</label>
    <input type="ownername" class="form-control" id="name" placeholder="Enter Name" name="ownername">
    </div>

    <div class="mb-3 mt-3">
    <label for="registeredaddress" class="form-label">Registered Address:</label>
    <input type="registeredaddress" class="form-control" id="registeredaddress" placeholder="Enter Registered Address" name="registeredaddress">
    </div>

    <div class="mb-3 mt-3">
    <label for="paymentmode" class="form-label">Payment mode:</label>
    <input type="paymentmode" class="form-control" id="paymentmode" placeholder="Enter Payment Mode" name="paymentmode">
    </div>
    
    <div class="mb-3 mt-3">
    <label for="totalcost" class="form-label">Item Cost:</label>
    <input type="totalcost" class="form-control" id="totalcost" placeholder="Enter Total Cost" name="totalcost">
    </div>

    <div class="mb-3 mt-3">
    <label for="deliverycharge" class="form-label">Delivery Charge:</label>
    <input type="deliverycharge" class="form-control" id="deliverycharge" placeholder="Enter Delivery Charge" name="deliverycharge">
  </div>

    <div class="mb-3 mt-3">
    <label for="totalamount" class="form-label">Total Amount:</label>
    <input type="totalamount" class="form-control" id="totalamount" placeholder="Enter Total Amount" name="totalamount">
  </div>
</form>

<button type="submit" class="btn btn-success" id="submit">Confirm your order</button>

<div style="text-align: center;">
  <button  type="button" class="btn btn-danger"><a href="/Orders/Orderhistory" style="color:inherit ; text-decoration: none;">Back</a></button>