
@{
    ViewData["Title"] = "Orders Page";
}
<h1>Orders Catalog</h1>
<hr/>
<ul id="lstorders">
</ul>

<button id="btn">Get Details</button>
<hr/>
    <label id="lblorderdate"></label> </br>
    <label id="lblshippeddate"></label> </br>
    <label id="lblcustomerid"></label></br>
    <label id="lbltotal"></label></br>
    <label id="lblstatus"></label>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">  

    function doSomething(event){
        console.log ("anchor is clicked" + event);

    }

function getAllOrders(){
  //invoke REST API to fetch data from server  
        $.ajax({  
            url: '/orders/getallorders',  
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message); 
                console.log(err); 
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function(data) {  
            //  var result=JSON.stringify(data);
            // $("#para").text(result);
                for (let i = 0; i < data.length; i++) {        
                        var str="<li><a onClick='doSomething()' src=''>"+ data[i].orderDate +"</a></li>";
                        $("#lstorders").append(str);
                }
              return false;  
            }  
        });  
}

function getOrderById(id){
  //invoke REST API to fetch data by id from server  
        $.ajax({  
            url: '/orders/getorderbyid/'+id,  
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message); 
                console.log(err); 
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function(data) {  
                        $("#lblorderdate").text(data.orderDate);
                        $("#lblshippeddate").text(data.shippedDate);
                        $("#lblcustomerid").text(data.customerId);
                        $("#lbltotal").text(data.total);
                        $("#lblstatus").text(data.status);
                    
              return false;  
            }  
        });  
} 
   
    $(document).ready(function(){
       getAllOrders();
       $("#btn").click( function (){
        getOrderById(1);
       })
    });
</script>  