

<form>
  <label for="banks">Choose your bank:</label>
  <select name="banks" id="banks">
    <option value="mhb">Maharashtra Bank</option>
    <option value="sbi">State Bank Of India</option>
    <option value="ubi">Union Bank Of India</option>
    <option value="hdfc">HDFC Bank</option>
  </select>
</form>


  <div class="form-group col-sm-12">
    <label for="ownername" class="form-label">Name:</label>
    <input type="ownername" class="form-control" id="ownername" placeholder="Enter your name" name="ownername">
    </div>

    <div class="form-group col-sm-12">
    <label for="creditcardnumber" class="form-label">Credit Card Number:</label>
    <input type="creditcardnumber" class="form-control" id="creditcardnumber" placeholder="0000 0000 0000 0000" name="creditcardnumber">
    </div>

    <div class = "row">
    <div class="form-group col-sm-4">
    <label for="cvv" class="form-label">Month</label>
    <select class="form-control" id="ccmonth">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        </select>
    </div>
    
    
    <div class="form-group col-sm-4">
    <label for="expirydate" class="form-label">Year</label>
    <select class="form-control" id="ccyear">
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
        <option>2026</option>
        <option>2027</option>
        <option>2028</option>
        <option>2029</option>
        <option>2030</option>
        <option>2031</option>
        <option>2032</option>
        <option>2033</option>
        <option>2034</option>
</select>
    </div>
    
    
    <div class="form-group col-sm-4">
    <label for="cvv" class="form-label">CVV/CVC:</label>
    <input type="cvv" class="form-control" id="cvv" placeholder="123" name="cvv">
    </div>
    </div>
    
  </div>

  
      <button type="submit" class="btn btn-primary"><a href="/orders/addressdetails" style="color:inherit ; text-decoration: none; ">Continue</a></button>

      <button type="button" class="btn btn-danger">Reset</button>
      




      