

<h6>Online Payments<h6>


<div class="padding">
<div class="row">
<div class="col-sm-6">
<div class="card">
<div class="card-header">
<strong>Credit Card</strong>
<small>enter your card details</small>
</div>
<div class="card-body">
<div class="row">
<div class="col-sm-12">
<div class="form-group">
    

    
<label for="name">Name</label>
<input class="form-control" id="name" type="text" placeholder="Enter your name">
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="form-group">
<label for="ccnumber">Credit Card Number</label>


<div class="input-group">
<input class="form-control" type="text" placeholder="0000 0000 0000 0000" autocomplete="email">
<div class="input-group-append">
<span class="input-group-text">
<i class="mdi mdi-credit-card"></i>
</span>
</div>
</div> 
</div>
</div>
</div>

<div class="row">
<div class="form-group col-sm-4">
<label for="ccmonth">Month</label>
<select class="form-control" id="ccmonth">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
<option>11</option>
<option>12</option>
</select>
</div>
<div class="form-group col-sm-4">
<label for="ccyear">Year</label>
<select class="form-control" id="ccyear">
<option>2023</option>
<option>2024</option>
<option>2025</option>
<option>2026</option>
<option>2027</option>
<option>2028</option>
<option>2029</option>
<option>2030</option>
<option>2031</option>
<option>2032</option>
<option>2033</option>
<option>2034</option>
</select>
</div>
<div class="col-sm-4">
<div class="form-group">
<label for="cvv">CVV/CVC</label>
<input class="form-control" id="cvv" type="text" placeholder="123">
</div>
</div>
</div>

</div>
<div class="card-footer">
<button class="btn btn-sm btn-success float-right" type="submit">
<i class="mdi mdi-gamepad-circle"></i> Continue</button>
<button class="btn btn-sm btn-danger" type="reset">
<i class="mdi mdi-lock-reset"></i> Reset</button>
</div>
</div>
</div>
</div>
</div>


<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="upiid" class="form-label">Enter UPI Id:</label>
    <input type="upiid" class="form-control" id="upiid" placeholder="Enter UPI Id" name="upiid">
  </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>

