

<h6>Online Payments<h6>
  
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="upiid" class="form-label">Enter UPI Id:</label>
    <input type="upiid" class="form-control" id="upiid" placeholder="Enter UPI Id" name="upiid">
  </div>
    <button type="submit" class="btn btn-primary"><a href="/orders/addressdetails" style="color:inherit ; text-decoration: none; ">Submit</a></button>
</form>

