
<h3> order list </h3>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>Parleg</td>
        <td>Testy Biscuit</td>
        <td>50</td>
        <td>25</td>
    </tr>
        <td>Crack Jack</td>
        <td>Testy Biscuit</td>
        <td>10</td>
        <td>25</td>
    </tr>

    <tr>
       <td><label>TotalAmount</label></td>
       <td><input type ="text" name="totalamount" id="totalamount"></td>
    </tr>

</table>

        <button id = "continueshopping">Continue Shopping</button>

        <button id = "cancel">Cancel</button>
        
        </br>

        <button id = "cashondelivery">Cash on Delivery</button>

        <button id = "onlinepayment">Online Payment</button>