
<div class="container mt-3">
  <p>Order view</p>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Addressdetails">Address Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Netbanking">Netbanking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Onlinepay">Online Payment</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/Orders/paymode">Selection of Payment mode</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Orderdetails">order list</a>
    </li>
    </ul>
  </div>