
<h3> order list </h3>


<table class= "table table-hover">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>Parleg</td>
        <td>Testy Biscuit</td>
        <td>50</td>
        <td>25</td>
    </tr>
        <td>Crack Jack</td>
        <td>Testy Biscuit</td>
        <td>10</td>
        <td>25</td>
    </tr>

    <tr>
       <td><label>TotalAmount</label></td>
       <td><input type ="text" name="totalamount" id="totalamount"></td>
    </tr>

</table>

        <button type = "continueshopping "  class=" btn btn-primary">Continue Shopping</button>

        <button type = "cancel" class=" btn btn-danger ">Cancel</button>

        
        </br>
        </br>

        <button type = "cashondelivery " class=" btn btn-success"><a href="/orders/addressdetails" style="color:inherit ; text-decoration: none;">Cash on Delivery</a></button>

        <button type = "onlinepayment" class=" btn btn-success" ><a href="/orders/paymode" style="color:inherit ; text-decoration: none;">Online Payment</a></button>