
<div class="container mt-3">
  <p>Order view</p>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Addressdetails">Addressdetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Netbanking">Netbanking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Paymode">Paymode</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Onlinepay">Onlinepay</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Orders/Orderdetails">Orderdetails</a>
    </li>
    </ul>
  </div>