<h3> select your options </h3>

<div>
<form action="/action_page.php">
<input type="radio" id="upipayment" name="payment" value="upipayment">
<label for="upipayment">UPI Payment</label><br>
<input type="radio" id="netbanking" name="payment" value="netbanking">
<label for="netbanking">Net Banking</label><br>
</form>
</div>

<button type = "submit" name = "submit">Submit</button>