<h3> select your options </h3>

<div>
<form action="/action_page.php">
<input type="radio" id="upipayment" name="payment" value="upipayment">
<label for="upipayment">UPI Payment</label><br>

<input type="radio" id="netbanking" name="payment" value="netbanking">
<label for="netbanking">Net Banking</label><br>
</form>

<button type = "submit" class="btn btn-success" name = "submit">Submit</button>
</div>


