<!--<nested-dropdown> </nested-dropdown>-->
<!--<app-radio></app-radio>-->
<!--<file-upload></file-upload>-->
 
<!--<mutiple-select-list-box></mutiple-select-list-box>-->

<!--<tfl-grid></tfl-grid>-->

<!--<app-pagging></app-pagging>-->

 
<!--The content below is only a placeholder and can be replaced.-->
<div>
    <hr/>
   <!--<selling-list></selling-list>-->

   <!-- <app-update></app-update>-->
  
<!--<app-detail></app-detail>-->
  <!--<h1 [hidden]="true">Transflower learning Pvt. LTd.</h1>
  <h1 *ngIf="false">Zensar Technologies</h1>
-->
 <!--<branding-comp></branding-comp>-->
 <!-- <app-register></app-register>-->
  <!--<app-conditional></app-conditional>-->
 <!--<app-signin></app-signin>-->
 <!--<selling-list></selling-list>-->
 <!--<simple-observable></simple-observable>-->
 <!--<gdi></gdi>-->
 <!--<app-pagging></app-pagging>-->
  <!--<check-box></check-box>-->
  <!--<sorted-list></sorted-list>-->
  <!--<mutiple-select-list-box></mutiple-select-list-box>-->
  <!--<app-radio></app-radio>-->
  <!--<file-upload></file-upload>-->
  <!--<nested-dropdown></nested-dropdown>-->

  <!--<customerlist-details></customerlist-details>-->
  <!--<div class="container-fluid mt-3">
       <div class="row">
        <app-master></app-master>
      <div class="row">
        <div class="col-sm-4"><app-comm-detail></app-comm-detail></div>
        <div class="col-sm-4"><app-consumer1></app-consumer1></div>
        <div class="col-sm-4"><app-consumer2></app-consumer2></div>
      </div>
    </div>
  -->

  
  <!--<sbi-bank></sbi-bank>-->
  <!---<app-hoverable></app-hoverable> -->

   <!-- Routing components-->
   <!--<router-container></router-container>-->
 <spa-container></spa-container>

</div> 


