<!-- 
<form [formGroup]="form">
    <h4>Nested Selects: Country-State-City</h4>
    <table>
        <tr>
            <td>
                <label>Category</label>
            </td>
            <td>
                <select  [formControl]="category"  name="category">
                <option *ngFor="let category of categories" [value]="category.title">
                {{ category.title }}
                </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="category.reset()">Clear</button>
            </td>
        </tr>
         <tr>
            <td>
                <label>Product</label>
            </td>
            <td>
                <!--<select  [formControl]="product"  name="product">
                <option *ngFor="let product of products" [value]="product.title">
                {{ product.title }}
                </option>
                </select> 
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="product.reset()">Clear</button>
            </td>
        </tr>
         <tr> 
            <td>
                <label>City</label>
            </td>
            <td>
                <select  [formControl]="city"  name="city">
                <option *ngFor="let city of cities" [value]="city">
                {{ city }}
                </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="city.reset()">Clear</button>
            </td>
        </tr>  
    </table>
    <p>Category: {{ category.value }}</p>
     <p>Product: {{ product.value }}</p> 
   <p>Cite: {{ city.value }}</p>  
  </form>
-->