<h2>Cancelled Orders List</h2>

<div>
    <ul id="cancelledorders">
        <li>Cancelled order 1</li>
        <li>Cancelled order 2</li>
        <li>Cancelled order 3</li>
        <li>Cancelled order 4</li>
    </ul>
</div>

