<!DOCTYPE html>
<html>
    <head> 
        <title></title>
           <style>
        	h1{text-align: center; }
            h6{text-align: center; }
   </style>
    </head>
        <h1>Customer Service</h1>
        <body>
            <h6>Help Line Number : 180030009009</h6>
            <h6>Email : TFLStore@gmail.com</h6>
            <label for="lblcomplain">Complaint Box</label>
            <input id="lblcomplain" name="lblcomplain" type="text">
            <button id="btncomplain">Send</button>
    </body>
</html>