@* <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="./dashboard">Customer's DashBoard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./wishlist">Wishlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./deliveredorders">Delivered Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="./Cancelledorders">Cancelled Orders</a>
  </li>
</ul>

 *@


<section style="background-color: #eee;">


  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3" id="name"></h5>

        </div>
      </div>

    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="customername"></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="customeremail"></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Contact </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="customercotactnumber"></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Account No</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="customeraccountnumber"></p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function () {
    console.log("doc initialization");
    getbyid(1);
  });

  function getbyid(id) {
    //invoke REST API to fetch data from server  
    $.ajax({
      url: '/customers/getbyid/' + id,
      dataType: "json",
      type: "GET",
      error: function (xhr, status, error) {
        var err = eval("(" + xhr.responseText + ")");
        toastr.error(err.message);
        console.log(err);
      },
      //On Successful retriving data  perfrom callback function 
      //Success block is automatically called when ajax call receives 
      //data from server  
      success: function (data) {
        //  var result=JSON.stringify(data);
        // $("#para").text(result);
        console.log(data);

        var fname = data.firstName;
        var name = data.firstName + " " + data.lastName;
        var email = data.email;
        var accountNumber = (data.accountNumber);
        var contactNumber = data.contactNumber;
        console.log(name + " " + email + " " + accountNumber)

        $("#name").append(fname);
        $("#customername").append(name);
        $("#customeremail").append(email);
        $("#customercotactnumber").append(contactNumber);
        $("#customeraccountnumber   ").append(accountNumber);

        return false;
      }
    });
  }
</script>

