@{
    ViewData["Title"] = "Customer Page";
}

<h2>Customer List</h2>
<hr>
<ul id="lstcustomers"> </ul>
<hr>
<h2>Customer Catalog</h2>
<hr />

<div>
    <button id="btn">Get Details</button>
    <a href="./login">Login</a>
</div>

<hr />
<label id="lblid"></label> </br>
<label id="lblfirstname"></label> </br>
<label id="lbllastname"></label> </br>
<label id="lblcontactnumber"></label></br>
<label id="lblaccountnumber"></label></br>
<label id="lblemail"></label></br>
<label id="lblpassword"></label>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn").click(function () {
            getById(1);
        })
        getAll();
    });



    function getAll() {
        //invoke REST API to fetch data from server  
        $.ajax({
            url: '/customers/getall',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
                console.log(err);
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function (data) {
                //  var result=JSON.stringify(data);
                // $("#para").text(result);
                for (let i = 0; i < data.length; i++) {
                    var str = "<li>" + data[i].firstName + </li>;
                    $("#lstcustomers").append(str);
                }
                return false;
            }
        });
    }


    function getById(id) {
        //invoke REST API to fetch data by id from server  
        $.ajax({
            url: '/customers/getbyid/' + id,
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
                console.log(err);
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  

            success: function (data) {
                $("#lblid").text("ID: "+ data.customerId);
                $("#lblfirstname").text("First Name: "+ data.firstName);
                $("#lbllastname").text("Last Name: "+ data.lastName);
                $("#lblcontactnumber").text("Contact Number: "+ data.contactNumber);
                $("#lblaccountnumber").text("Account Number: "+ data.accountNumber);
                $("#lblemail").text("Email: "+ data.email);
                $("#lblpassword").text("Password: "+ data.password);

                return false;
            }
        });
    }

</script>

