
@{
    ViewData["Title"] = "Customer Page";
}

<h2>Customer List</h2>

  <button id="btn">show</button>
  <p id='para1'>Transflower</p>
  <hr/>
  <p id='para2'>Seed</p>

<div>
    <h3>Insert Form</h3>    
        <table>
        <tr>
            <th><label>First Name</label> </th>
            <td><input type="text" name="first_name" id="txtfirstname"/></td>
        </tr>
         <tr>
            <th><label>Last Name</label> </th>
            <td><input type="text" name="last_name" id="txtlastname"/></td>
        </tr>
         <tr>
            <th><label>email</label> </th>
            <td><input type="email" name="email" id="txtinsertemail"/></td>
        </tr>

         <tr>
            <th><label>contact number</label> </th>
            <td><input type="text" name="contact_number" id="txtcontactnumber"/></td>
        </tr>
         <tr>
            <th><label>Account number</label> </th>
            <td><input type="text" name="account_number" id="txtaccountnumber"/></td>
        </tr>
          <tr>
            <th> <lable>Password</lable> </th>
            <td><input type="password" name="password" id="txtinsertpassword"/> </td>
        </tr>
    </table>
    <button  id="insertbtn">Insert</button>

</div>

<div>
    <h3>Update Form</h3>    
        <table>
        <tr>
            <th><label>ID</label> </th>
            <td><input type="number" name="cust_id" id="txtid"/></td>
        </tr>
        <tr>
            <th><label>First Name</label> </th>
            <td><input type="text" name="first_name" id="txtfirstname"/></td>
        </tr>
         <tr>
            <th><label>Last Name</label> </th>
            <td><input type="text" name="last_name" id="txtlastname"/></td>
        </tr>
         <tr>
            <th><label>email</label> </th>
            <td><input type="email" name="email" id="txtinsertemail"/></td>
        </tr>

         <tr>
            <th><label>contact number</label> </th>
            <td><input type="text" name="contact_number" id="txtcontactnumber"/></td>
        </tr>
         <tr>
            <th><label>Account number</label> </th>
            <td><input type="text" name="account_number" id="txtaccountnumber"/></td>
        </tr>
          <tr>
            <th> <lable>Password</lable> </th>
            <td><input type="password" name="password" id="txtinsertpassword"/> </td>
        </tr>
    </table>
    <button  id="updatebtn">Update</button>

</div>

 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">  
   
    $(document).ready(function(){
    $('#insertbtn').click(onInsert);
    $('#updatebtn').click(onUpdate);
    $("#btn").click(function(){
        //invoke REST API to fetch data from server
        
        $.ajax({  
            url: '/Customers/GetAll',  
            dataType: "json",  
            type: "GET",  
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message); 
                console.log(err); 
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function(data) {  
              var result=JSON.stringify(data);
              var element=document.getElementById("para2");
              element.innerHTML=result;
              return false;  
            }  
        });  
    });
});



     function onInsert() {  
        //get data from email and password text boxex
        console.log("okk..");
        var strFirstName=($('#txtfirstname').val());
        var strLastName=($('#txtlastname').val());
        var strContactNumber=($('#txtcontactnumber').val());
        var strAccountNumber=($('#txtaccountnumber').val());
        var strEmail=($('#txtinsertemail').val());
         var strPassword=($('#txtinsertpassword').val());

        //create JSON object to store textboxes contents into json

        var credentialToInsert = {
                    "firstName": strFirstName,
                    "lastName": strLastName,
                    "contactNumber":strContactNumber,
                    "accountNumber":strAccountNumber,
                    "email":strEmail ,
                    "password":strPassword  
       }
       //Invoke REST API programmatically using $.ajax  JQuery function
       var restAPIUrl='/customers/InsertCustomer'

       //IT will invoke Remote REST API 

        $.ajax({  
            url:restAPIUrl ,                                // link of REST API url
            type: "POST",                                   // type of HTTP request
            contentType: "application/json; charset=utf-8",//  What is the type of content of REST body
            data: JSON.stringify(credentialToInsert),              // data to be sent through request body
                                                           //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
    //callback function to be called on success of REST API call
            success: function(data) {  
                console.log("Inserted..");  
                return false;  
            }  
        });  
        return false;  
     }



     

     function onUpdate() {  
        //get data from email and password text boxex
        console.log("on update..");
        var strId=($('#txtid').val());
        var strFirstName=($('#txtfirstname').val());
        var strLastName=($('#txtlastname').val());
        var strContactNumber=($('#txtcontactnumber').val());
        var strAccountNumber=($('#txtaccountnumber').val());
        var strEmail=($('#txtinsertemail').val());
         var strPassword=($('#txtinsertpassword').val());

        //create JSON object to store textboxes contents into json

        var credentialToInsert = {
                    "customerId":strId,
                    "firstName": strFirstName,
                    "lastName": strLastName,
                    "contactNumber":strContactNumber,
                    "accountNumber":strAccountNumber,
                    "email":strEmail ,
                    "password":strPassword  
       }
       //Invoke REST API programmatically using $.ajax  JQuery function
       var restAPIUrl='/customers/InsertCustomer'
       //IT will invoke Remote REST API 

        $.ajax({  
            url:restAPIUrl ,                                // link of REST API url
            type: "PUT",                                   // type of HTTP request
            contentType: "application/json; charset=utf-8",//  What is the type of content of REST body
            data: JSON.stringify(credentialToInsert),              // data to be sent through request body
                                                           //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message);  
            },  
    //callback function to be called on success of REST API call
            success: function(data) {  
                console.log("Updated..");  
                return false;  
            }  
        });  
        return false;  
     }

</script>  

