
<div>
    <h3>Update Form</h3>
    <table>
        <tr>
            <th><label>ID</label> </th>
            <td><input type="number" name="cust_id" id="txtid" /></td>
        </tr>
        <tr>
            <th><label>First Name</label> </th>
            <td><input type="text" name="first_name" id="txtupdatefirstname" /></td>
        </tr>
        <tr>
            <th><label>Last Name</label> </th>
            <td><input type="text" name="last_name" id="txtupdatelastname" /></td>
        </tr>
        <tr>
            <th><label>email</label> </th>
            <td><input type="email" name="email" id="txtupdateemail" /></td>
        </tr>

        <tr>
            <th><label>contact number</label> </th>
            <td><input type="number" name="contact_number" id="txtupdatenumber" /></td>
        </tr>
        <tr>
            <th><label>Account number</label> </th>
            <td><input type="number" name="account_number" id="txtupdateaccountnumber" /></td>
        </tr>
        <tr>
            <th>
                <lable>Password</lable>
            </th>
            <td><input type="password" name="password" id="txtupdatepassword" /> </td>
        </tr>
    </table>
    <button id="updatebtn">Update</button>
