<table> 
   <thead> 
      <tr> 
         <th>Item</th>
         <th>Amount</th> 
         <th>Category</th> 
         <th>Location</th> 
         <th>Spent On</th> 
         <th>View</th> 
      </tr> 
   </thead> 
   <tbody> 
    <tr *ngFor="let entry of expenseEntries"> 
       <th scope="row">{{ entry.item }}</th> 
       <th>{{ entry.amount }}</th> 
       <td>{{ entry.category }}</td> 
       <td>{{ entry.location }}</td> 
       <td>{{ entry.spendOn | date: 'medium' }}</td> 
       <td><a href="">View</a> |<a href="">Remove</a>|<a href="">Update</a></td> 
    </tr> 
 </tbody> 
</table>
