<get-transaction [transactionId]="tranId" (sendTransaction)="recieveTransaction($event)" hidden></get-transaction>
<div *ngIf="transaction && transaction.transactionId!=0">
    <h3>Trasaction Details</h3>
    <p><label ><b>Transaction Id :</b></label>{{ transaction.transactionId }}</p>
    <p><label ><b>From Account Number :</b></label>{{ transaction.fromAccountNumber }}</p>
    <p><label ><b>To Account Number :</b></label>{{ transaction.toAccountNumber }}</p>
    <p><label ><b>Transaction Date :</b></label>{{ transaction.transactionDate }}</p>
    <p><label ><b>Amount :</b></label>{{ transaction.amount | currency:'INR' }}</p>

    <button  type="submit" (click)="delete()">Delete</button>
    <button type="submit" (click)="onUpdateClick(transaction.transactionId)">Update</button>
    <hr>

</div>

<div *ngIf="transaction && transaction.transactionId==0">
    <p>Transaction not Found</p>
</div>