<div class="mt-2 p-4 bg-dark text-white rounded">
<h1>Manage Accounts</h1>
</div>
<ul style="list-style-type:disc" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link"href="/Accounts/AccountsDetails"> Accounts Details </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Accounts/Insert">Add New Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Accounts/Update">Update your existing Account </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Accounts/Search">Search Accounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Accounts/Delete">Delete Accounts</a>
  </li>
  </ul>