
<div class="container">
    <input type="search" class="searchterm" placeholder="Enter Account Id">
         <button type="button" class="btn btn-success">Search</button>

     </div>
     <div class="container mt-3">
  <h2>Delete Account</h2>       
  <table class="table">
    <thead>
      <tr>
        <th>Account Id</th>
        <th>Account Number</th>
        <th>IFSC Code</th>
        <th>Register Date</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>342423657</td>
        <td>CBI0000123</td>
        <td>12-3-2023</td>
        <td>50000000</td>
      </tr>
      <tr>
        </table>
        </div>
     <button type="button" class="btn btn-success">Delete</button>