@* @model ECommerceApp.Models.Account
<th>AccountSearch</th>
<table>
    <tr>
        <td>
    <tr>
        <td><input type="txt" name="Search" id="txtaccountId" placeholder="Enter Account Id"></td>
        <td><button id="btnsearch">Search</button></td>
    </tr>
    </td>
    </tr>
</table>
<table>

    <tr>
        <th>Account Number</th>
        <td><label id="accountNumber"></label></td>
    </tr>
    <tr>
        <th>IFSC Code</th>
        <td>
            <lable id="ifscCode"></lable>
        </td>

    </tr>
    <tr>
        <th>Register Date</th>
        <td>
            <lable id="registerDate"></lable>
        </td>

    </tr>
    <tr>
        <th>Balance</th>
        <td>
        <lable id="balance"></lable>
        </td>
    </tr>


</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnsearch").click(function () {
            var id = $('#txtaccountId').val();

            var restApiUrl = "http://localhost:5223/accounts/GetAccountById/" + id;

            console.log(restApiUrl);
            $.ajax({
                url: restApiUrl,
                dataType: "json",
                type: "GET",

                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                    console.log(err);
                },

                success: function (data) {

                    $("#accountNumber").text(data.accountNumber);
                    $("#ifscCode").text(data.ifscCode);
                    $("#registerDate").text(data.registerDate);
                    $("#balance").text(data.balance);
                    return false;
                }
            });

        })
    });

</script> *@



<div class="container">
    <input type="search" class="searchterm" placeholder="Enter Account Id">
     <button type="button" class="btn btn-success">Search</button>

  @* <div class="mb-3 mt-3">
    <label for="search" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div> *@
  @* <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

</div> *@

<div class="container mt-3">
  <h2>Account Details</h2>       
  <table class="table">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>IFSC Code</th>
        <th>Register Date</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>342423657</td>
        <td>CBI0000123</td>
        <td>12-3-2023</td>
        <td>50000000</td>
      </tr>
      <tr>
        
      