

<h1>Class Binding</h1>

<div [ngClass]="['bold-text', 'red']">array of classes</div>
<div [ngClass]="'blue_class'">Ravi Tambade</div>

<div [className]="'red'">css class using property syntax</div>

<div [ngClass]="{'small-text': true, 'red': true}">object/mapclasses</div>
<br/>

<div [ngClass]="{bordered: false}">This is never bordered</div>
<div [ngClass]="{bordered: true}">This is always bordered</div>
<br/>







<span [ngClass]="displayText">toggled with ngClass</span> 
<button (click)="toggle()">Toggle</button>
<br/>

<div>
    <ul *ngFor="let person of people">
       <li [ngStyle]="{'color':getColor(person.country)}">
          {{ person.name }} ({{ person.country }}) 
       </li>
     </ul>
</div>