
@using SessionManagement.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />


<h1>Products</h1>

<table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th> Add To Cart</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td><a href="@Url.Action("Count", "Cart", new   {id=product.Id })"><button> Add to Cart </button></a></td>
            </tr>
        }
</table>


