<h2>Update Transaction</h2>
<hr/>
<get-transaction [transactionId]="transactionId"(sendTransaction)="receiveTransaction($event)" hidden></get-transaction>

<div *ngIf="transaction && transaction.transactionId!=0">
    <div *ngIf="transaction">
        <form #updateForm="ngForm" (ngSubmit)="updateTransaction(updateForm.value)">
         <table class="table table-striped">
            <tr>
                <td><label>Transaction Id</label></td>
                <td><input type="number" name="transactionId" [(ngModel)]="transaction.transactionId"/></td>
            </tr>
            <tr>
                <td><label>From Account Number</label></td>
                <td><input type="number" name="fromAccountNumber" [(ngModel)]="transaction.fromAccountNumber"/></td>
            </tr>
            <tr>
                <td><label>To Account Number</label></td>
                <td><input type="number" name="toAccountNumber" [(ngModel)]="transaction.toAccountNumber"/></td>
            </tr>
            <tr>
                <td><label>Transaction Date</label></td>
                <td><input type="text" name="transactionDate" [(ngModel)]="transaction.transactionDate"/></td>
            </tr>
            <tr>
                <td><label>Amount</label></td>
                <td><input type="number" name="amount" [(ngModel)]="transaction.amount"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">Submit</button></td>
            </tr>
         </table>
    </form>
</div>

