<app-accountdetails [accountId]="accountId" (sendAccount)="reciveAccount($event)" hidden></app-accountdetails>
<div *ngIf="account && account.accountId !=0">
   <li class="list-group-item list-group-item-dark">
      
      <p><label><b>AccountId :</b></label>{{ account.accountId }}</p>
      <p><label><b>AccountNumber :</b></label>{{account.accountNumber }}</p>
      <p><label><b>IFSCCode :</b></label>{{ account.ifscCode }}</p>
      <p><label><b>RegisterDate :</b></label>{{ account.registerDate }}</p>
      <p><label><b>Balance :</b></label>{{ account.balance}}</p>

      <button class="btn btn-danger" type="submit" (click)="deleteAccount()">Delete</button>
      <button class="btn " style="background-color: #55c2da;" (click)="onSelectUpdate(account.accountId)">Update </button>
      <hr>

      <div *ngIf="account && account.accountId==0">
         <p>Account Not Found</p>
      </div>
   </li>
</div>