<p></p>
<app-getsupplier (sendSupplier)="receiveSupplier($event)"></app-getsupplier>
<div *ngIf="supplier">
  <app-details [supplier]="supplier"></app-details>
</div>
  <div *ngIf="supplier && supplierId != 0">
    <button (click)="deleteSupplier()" (click)="status = false" class="btn btn-danger">Delete</button>
  </div>
  <div *ngIf="status">
    <p>record deleted sucessfully</p>
    <a (click)="deleteSupplier()"></a>
  </div>
  
  <div *ngIf="status == false">
    <p>Error While deleting data</p>
  </div>
  


