<getshipper [shipperId]= "shipperId" (sendShipper)="reciveShipper($event)" hidden></getshipper>

<div *ngIf="shipper && shipper.shippId !=0">
<input type ="number"[(ngModel)]="shipperId">
<button (click) = "getById(shipperId)"> get Details</button>
<div *ngIf = "shipper">
<p>ShipperId:{{shipper.shipperId}}</p>
<p>CompanyName:{{shipper.companyName}}</p>
<p>Email:{{shipper.email}}</p>
<p>ContactNumber:{{shipper.contactNumber}}</p>
<p>AccountNumber:{{shipper.accountNumber}}</p>


<button  type="submit" (click)="delete()">Delete</button><br/>
<p> </p>
<button type="submit" (click)="onUpdateClick(shipper.shipperId)">Update</button>
<hr>

 <div *ngIf="shipper && shipper.shipperId ==0">
     <p>shipper Details not Fount</p>
 </div>

</div>


