



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fs-5">Forgot Password</h5>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="name@example.com"
              />
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="contactnumber"
                placeholder="contactnumber"
              />
              <label for="contactnumber">Contact Number</label>
            </div>
             <div class="d-grid">
              <button class="btn btn-success fw-bold" style="color: inherit; text-decoration:none;display: block;" type="submit">
                Send OTP
              </button>
              <hr class="my-4">
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="confirmotp"
                placeholder="otp"
              />
              <label for="confirmotp"> Validate OTP</label>
            </div>

            <div class="d-grid">
              <button class="btn btn-success fw-bold" style="color: inherit; text-decoration:none;display: block;" type="submit">
              Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
