<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title  text-center mb-5  fs-5">Sign In</h5>
            
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="name@example.com">
                <label for="username">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-success  fw-bold" style="color: inherit; text-decoration:none;display: block;" type="submit">Sign
                  in</button>
              </div>
			  <div class="row justify-content-md-end " style="text-align: right;">
				<a href="/secure/forgotpassword" ><small class="text-muted">Forgot Password?</small></a>
			</div>
              <hr class="my-4">
			   <div class="d-grid">
                <button class="btn btn-success fw-bold" type="submit">
              	<a href="/secure/newaccount" style="color: inherit; text-decoration:none;display: block;">  Create a New Account </a>
               </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
