

<h1> Orders List</h1>

<!-- <div *ngFor="let order of orders">
<p><label>OrderId:</label>{{order.orderId}}</p>
<p><label>OrderDate:</label>{{order.orderDate}}</p>
<p><label>ShippedDate:</label>{{order.shippedDate}}</p>
<p><label>CustomerId:</label>{{order.customerId}}</p>
<p><label>Total:</label>{{order.total}}</p>
<p><label>Status:</label>{{order.orderStatus}}</p>
</div> -->

<div *ngFor="let order of orders">
   
    <label (click)="onSelectOrder(order.orderId)"> <b>OrderId:</b>{{order.orderId}}</label>
    <hr>
 </div> 
