

<h1> Orders List</h1>

<!-- <div *ngFor="let order of orders">
<p><label>OrderId:</label>{{order.orderId}}</p>
<p><label>OrderDate:</label>{{order.orderDate}}</p>
<p><label>ShippedDate:</label>{{order.shippedDate}}</p>
<p><label>CustomerId:</label>{{order.customerId}}</p>
<p><label>Total:</label>{{order.total}}</p>
<p><label>Status:</label>{{order.orderStatus}}</p>
</div> -->

<div *ngFor="let order of orders">
   <!-- <td><a [routerLink]="['/order',order.orderId]">{{orders.customerId}} </a> </td> -->
    <app-details [order]="order" ></app-details>
    <!-- <div (click)="onSelectOrder()"></div> -->
    <hr>
 </div> 
