<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Get Transaction By Id</h1>
      <table>
        <div class="form-group">
          <label for="transacionId">Transaction Id:</label>
          <input type="number" class="form-control" id="txttransactionid" placeholder="Enter Transaction Id">
        </div>
        <button id="btnclick" type="button" class="btn btn-primary">Transaction Details</button>
      </table>
    </div>
    <table>
        <tr>
        <td></td>
        <td> 
        <label for="fromaccountnumber" id="lblfromaccountnumber" name="From Account Number :"></label> </br>
        <label id="lbltoaccountnumber" name="To Account Number :"></label> </br>
        <label id="lbltransactiondate" name="Transaction Date :"></label></br>
        <label id="lblamount" name="Amount :"></label></br>
    </tr>
    </table>
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
console.log("inside script");
$(document).ready(function(){
console.log("doc initialized");

$("#btnclick").click(function(){
    console.log("button Clicked");
//invoke REST API to fetch data from server
var transactionId = $('#txttransactionid').val();
console.log(transactionId);

var restApiUrl= "http://localhost:5223/transaction/gettransactionbyid/"+ transactionId;

console.log(restApiUrl);
 $.ajax({  
            url: restApiUrl,  
            dataType: "json",  
            type: "GET",  

            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message); 
                console.log(err); 
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function(data) {  
            console.log(data);
            $("#lblfromaccountnumber").text(data.fromAccountNumber);
            $("#lbltoaccountnumber").text(data.toAccountNumber);
            $("#lbltransactiondate").text(data.transactionDate);
            $("#lblamount").text(data.amount);
              return false;  
            }  
        }); 
    })
});
</script> 