@model ECommerceApp.Models.Transaction
@{ViewData["Title"] = "Register Page";}

<div>
    <h3>Register Transaction</h3>


    <table>
        <tr>
            <th><lebal>From Account Number</lebal></th>
            <td><input type="text" name="from_account_number" id="txtfromaccountnumber"/></td>
        </tr>
        <tr>
            <th><lebal>To Account Number</lebal></th>
            <td><input type="text" name="to_account_number" id="txttoaccountnumber"/></td>
        </tr>
        <tr>
            <th><lebal>Transaction Date</lebal></th>
            <td><input type="text" name="transaction_date" id="txttransactiondate"/></td>
        </tr>
        <tr>
            <th><lebal>Amount</lebal></th>
            <td><input type="text" name="amount" id="txtamount"/></td>
        </tr>
    </table>
    <button id="btn">Register</button>
</div>

<div>
    <h3>Update Transaction</h3>


    <table>
        <tr>
            <th><lebal>Transaction Id</lebal></th>
            <td><input type="number" name="from_account_number" id="txtid"/></td>
        </tr>
        <tr>
            <th><lebal>From Account Number</lebal></th>
            <td><input type="text" name="from_account_number" id="txtupdatefromaccountnumber"/></td>
        </tr>
        <tr>
            <th><lebal>To Account Number</lebal></th>
            <td><input type="text" name="to_account_number" id="txtupdatetoaccountnumber"/></td>
        </tr>
        <tr>
            <th><lebal>Transaction Date</lebal></th>
            <td><input type="text" name="transaction_date" id="txtupdatetransactiondate"/></td>
        </tr>
        <tr>
            <th><lebal>Amount</lebal></th>
            <td><input type="text" name="amount" id="txtupdateamount"/></td>
        </tr>
    </table>
    <button id="btnupdate">Update</button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    console.log("Hello");
    $(document).ready(function(){
        console.log("Document is initialized");
        $('#btn').click(onRegister);
        $('#btnupdate').click(onUpdate);
    });

    //Invoke REST API programmatically using $.ajax  JQuery function
    var restAPIUrl='/transactions/resister';

    function onRegister(){
        console.log("Resister");
        var strFromAccountNumber=($('#txtfromaccountnumber').val());
        var strToAccountNumber=($('#txttoaccountnumber').val());
        var strTransactionDate=($('#txttransactiondate').val());
        var strAmount=($('#txtamount').val());

        //create JSON object to store textboxes contents into json
        var transactionToRegister = {
            "fromaccountnumber": strFromAccountNumber,
            "toaccountnumber": strToAccountNumber,
            "transactiondate": strTransactionDate,
            "amount": strAmount
        }

        //Invoke REST API programmatically using $.ajax  JQuery function
        var restAPIUrl = '/transactions/inserttransaction'
        //IT will invoke Remote REST API 
        $.ajax({
            url:restAPIUrl,
            type:"POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(transactionToRegister),

            //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  
            var err = eval("(" + xhr.responseText + ")");  
            toastr.error(err.message);  
            }, 
            //callback function to be called on success of REST API call
                        success: function(data) {  
                console.log("Registerd..");  
                return false;  
            }  
        });  
        return false;  
    }

        function onUpdate(){
        console.log("on Update...");
        var strTransactionId=($('#txtid').val());
        var strFromAccountNumber=($('#txtupdatefromaccountnumber').val());
        var strToAccountNumber=($('#txtupdatetoaccountnumber').val());
        var strTransactionDate=($('#txtupdatetransactiondate').val());
        var strAmount=($('#txtupdateamount').val());
                 
        //create JSON object to store textboxes contents into json
        var transactionToUpdate = {
            "transactionid": strTransactionId,
            "fromaccountnumber": strFromAccountNumber,
            "toaccountnumber": strToAccountNumber,
            "transactiondate": strTransactionDate,
            "amount": strAmount
        }
        console.log(transactionToUpdate);
        //Invoke REST API programmatically using $.ajax JQuery function
        var id=$('#txtid').val();
        var restApiurl1 = 'http://localhost:5223/transaction/updatetransaction/'+id;
        //IT will invoke Remote REST API 
        $.ajax({
            url:restApiurl1,
            type:"PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(transactionToUpdate),

            //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  
            var err = eval("(" + xhr.responseText + ")");  
            toastr.error(err.message);  
            }, 
            //callback function to be called on success of REST API call
                        success: function(data) {  
                console.log("Updated..");  
                return false;  
            }  
        });  
        return false;  
}
</script>
