<!DOCTYPE html>
<html lang="en"> 
<body>
<div class="container-fluid  p-5 my-5 bg-primary text-white">
  <h1>Transaction Registration Page</h1> 
</div>
<form action="/action_page.php" class="was-validated">
  <div class="mb-3 mt-3">
    <label>From Account Number:</label>
    <input type="text" class="form-control" id="txtfromaccountnumber" placeholder="Enter From Account Number" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="mb-3 mt-5">
    <label for="toaccountnumber" class="form-label">To Account Number:</label>
    <input type="txt" class="form-control" id="txttoaccountnumber" placeholder="Enter To Account Number"  required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
   <div class="mb-3 mt-5">
    <label for="transactiondate" class="form-label">Transaction Date:</label>
    <input type="date" class="form-control" id="txttransactiondate" placeholder="Enter Date"  required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
   <div class="mb-3 mt-5">
    <label for="amount" class="form-label">Amount:</label>
    <input type="txt" class="form-control" id="txtamount" placeholder="Enter Amount" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    console.log("Hello");
    $(document).ready(function(){
        console.log("Document is initialized");
        $('#btn').click(onRegister);
        $('#btnupdate').click(onUpdate);
    });

    function onRegister(){
        console.log("Resister");
        var strFromAccountNumber=($('#txtfromaccountnumber').val());
        var strToAccountNumber=($('#txttoaccountnumber').val());
        var strTransactionDate=($('#txttransactiondate').val());
        var strAmount=($('#txtamount').val());

        //create JSON object to store textboxes contents into json
        var transactionToRegister = {
            "fromaccountnumber": strFromAccountNumber,
            "toaccountnumber": strToAccountNumber,
            "transactiondate": strTransactionDate,
            "amount": strAmount
        }

        //Invoke REST API programmatically using $.ajax  JQuery function
        var restAPIUrl = '/transactions/inserttransaction'
        //IT will invoke Remote REST API 
        $.ajax({
            url:restAPIUrl,
            type:"POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(transactionToRegister),

            //callback function to be called on failure of REST API call
            error: function(xhr, status, error) {  
            var err = eval("(" + xhr.responseText + ")");  
            toastr.error(err.message);  
            }, 
            //callback function to be called on success of REST API call
                        success: function(data) {  
                console.log("Registerd..");  
                return false;  
            }  
        });  
        return false;  
    }
</script>