@model ECommerceApp.Models.Transaction

<h1>Search with ID</h1>
<hr/>
<table>
    <tr>
       
        <td><input type="text" name="search" id="txttransactionid"></td>
        
        <td> <button id="btnsearch">Search</button></td>
    </tr>
    <tr>
        <td></td>
        <td> 
         <label id="lblfromaccountnumber"></label> </br>
        <label id="lbltoaccountnumber"></label> </br>
        <label id="lbltransactiondate"></label></br>
        <label id="lblamount"></label></br>
    </tr>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
console.log("inside script");
$(document).ready(function(){
console.log("doc initialized");

$("#btnsearch").click(function(){
    console.log("button Clicked");
//invoke REST API to fetch data from server
var transactionId = $('#txttransactionid').val();
console.log(transactionId);

var restApiUrl= "http://localhost:5223/transaction/gettransactionbyid/"+ transactionId;

console.log(restApiUrl);
 $.ajax({  
            url: restApiUrl,  
            dataType: "json",  
            type: "GET",  

            error: function(xhr, status, error) {  
                var err = eval("(" + xhr.responseText + ")");  
                toastr.error(err.message); 
                console.log(err); 
            },
            //On Successful retriving data  perfrom callback function 
            //Success block is automatically called when ajax call receives 
            //data from server  
            success: function(data) {  
            console.log(data);
            $("#lblfromaccountnumber").text(data.fromAccountNumber);
            $("#lbltoaccountnumber").text(data.toAccountNumber);
            $("#lbltransactiondate").text(data.transactionDate);
            $("#lblamount").text(data.amount);
              return false;  
            }  
        }); 
    })
});
</script> 