<div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="supplierId">Supplier ID:</label>
        <input type="number" [(ngModel)]="supplierId" id="supplierId" class="form-control">
      </div>
      <div class="col-md-6">
        <button (click)="getProductSupplierById(supplierId)" class="btn btn-success btn-block mt-4">Search</button>
      </div>
    </div>
  
    <div class="row mt-4" *ngIf="supplierId">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Supplier Name</th>
              <th>Product Title</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productSupplier of productSuppliers">
              <td>{{ productSupplier.supplierName }}</td>
              <td>{{ productSupplier.productTitle }}</td>
              <td>{{ productSupplier.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  