<input type="number" [(ngModel)]="supplierId">
<button (click)="getProductSupplierById(supplierId)" class="btn btn-success">Search</button>
<div *ngIf="supplierId">
    <table>
        <thead>
            <tr>
                <th>SupplierName</th>
                <th>ProductTitle</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody *ngFor="let productSupplier of productSuppliers">
            <tr>
                <td>{{ productSupplier.supplierName }}</td>
                <td> {{ productSupplier.productTitle}}</td>
                <td>{{ productSupplier.quantity }}</td>
            </tr>
        </tbody>
            <hr/>
    </table>
</div>
    <!-- <div *ngIf=" productSupplier && productSupplier.supplierId==0 ">
        <p>Supplier not Found</p>
    </div> -->
